.akcioner {
  &__investors {
    &-link {
      border-bottom: 1px solid #000000;
      font-size: 18px;
      line-height: 28px;
      color: #171C28;
      margin-bottom: 10px;
      font-family: $font-text-light;

        @media only screen and(max-width: 1280px) {
          font-size: 16px;
          line-height: 28px;
        }

      @media only screen and(max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
    &-navigation {
      width: 100%;
      display: flex;
      border-bottom: 2px solid #E2E2E2;
      font-family: $font-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 18px;
      color: #616161;
      padding-top: 50px;

      @media only screen and(max-width: 768px) {
        font-size: 16px;
      }

      @media only screen and(max-width: 360px) {
        font-size: 14px;
      }

      &>ul {
        list-style: none;
        display: flex;
        padding: 0;

        &>li {
          margin-right: 145px;
          padding-bottom: 35px;

          @media only screen and(max-width: 1280px) {
            font-size: 20px;
            margin-right: 75px;
          }

          @media only screen and(max-width: 768px) {
            font-size: 16px;
            margin-right: 50px;
            padding-bottom: 10px;
          }

          @media only screen and(max-width: 620px) {
            font-size: 14px;
            margin-right: 20px;
          }

          &>a {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      &-list__item:hover, &-list__item-active {
        color: #C30215;
        border-bottom: 3px solid #C30215;
        //padding-bottom: 20px;
      }
    }

  &-footer {
    margin-top: 43px;
    &__contacts {
      display: none;
      @media only screen and(max-width: 768px) {
        display: block;
      }
    }
  }

    &-container {
      padding: 0 0 0 8.8%;
      margin: 0;

      @media only screen and(max-width: 1280px) {
        padding: 0 0 0 7.9%;
      }

      @media only screen and(max-width: 768px) {
        padding-right: 8%;
        padding-left: 8%;
      }

      @media only screen and(max-width: 767px) {
        margin-bottom: 35px;
      }
    }

    &__content {
      &-container {
        width: 100%;
        display: flex;
        overflow: hidden;

        @media only screen and(max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
      }
  }

  &-footer {
    background-color: #F8F8F8;
    width: 100%;

    &__contacts-phone{
      &>h3 {
        font-family: $font-text-light;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #616161;
        margin: 0;
        padding: 0 0 0 60px;

        @media only screen and(max-width: 768px) {
          padding-left: 8%;
        }
      }
      &>p {
        font-family: $font-text-light;
        font-size: 14px;
        line-height: 20px;
        color: #171C28;
        padding-bottom: 55px;
        padding-left: 60px;
        width: 65%;

        @media only screen and(max-width: 768px) {
          padding-left: 8%;
        }

        @media only screen and(max-width: 360px) {
          padding-bottom: 30px;
        }
      }
    }


    &__contacts, &__contacts-address {
      &>h2 {
        font-family: $font-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 136.6%;
        text-transform: uppercase;
        color: #616161;
        margin: 0;
        padding-top: 32px;
        padding-left: 60px;

        @media only screen and(max-width: 768px) {
          padding-left: 8%;
        }
      }

      &>h3 {
        font-family: $font-text-light;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #616161;
        margin: 0;
        padding: 0 0 0 60px;

        @media only screen and(max-width: 768px) {
          padding-left: 8%;
        }
      }

      &>p {
        font-family: $font-text-light;
        font-size: 14px;
        line-height: 20px;
        color: #171C28;
        padding-bottom: 23px;
        padding-left: 60px;
        width: 65%;

        @media only screen and(max-width: 768px) {
          padding-left: 8%;
        }

        @media only screen and(max-width: 360px) {
          padding-left: 8%;
          padding-bottom: 13px;
          width: 75%;
        }
      }
    }
  }

  &-sidebar {
    width: 30%;
    background-color: #F8F8F8;
    height: 100vh;
    margin: 0 0 -5000px;
    padding: 0 0 5000px 34px;

    width: 36%;

    @media only screen and(max-width: 1280px) {
      width: 36%;
      padding: 0 0 5000px 36px;
    }

    &__nav {
      padding-top: 80px;

      @media only screen and(max-width: 1280px) {
        padding-top: 75px;
      }

      &-item, .active {
        &>a {
          color: #C30215;
        }
      }
      &>ul {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #E2E2E2;


        &>li {
          padding-right: 150px;
          padding-bottom: 45px;

          @media only screen and(max-width: 1280px) {
            padding-right: 70px;
            padding-bottom: 38px;
          }
          &>a {
            font-family: $font-regular;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            color: #616161;

            @media only screen and(max-width: 1280px) {
              font-size: 16px;
            }
          }
        }
      }
    }

    &__contacts, &__contacts-address, &__contacts-phone {
      &>h2 {
        font-family: $font-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 136.6%;
        text-transform: uppercase;
        color: #616161;
        padding-top: 45px;
        padding-bottom: 15px;
        margin: 0;

        @media only screen and(max-width: 1280px) {
          font-size: 20px;
          line-height: 136.6%;
          padding-bottom: 26px;
          padding-top: 55px;
        }
      }

      &>h3 {
        font-family: $font-text-light;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #616161;
        padding: 0;
        margin: 0;

        @media only screen and(max-width: 1280px) {
          font-size: 18px;
          line-height: 28px;
        }
      }

      &>p {
        font-family: $font-text-light;
        font-size: 18px;
        line-height: 28px;
        color: #171C28;
        padding-bottom: 18px;
        padding-right: 250px;


        @media only screen and(max-width: 1280px) {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 22px;
          padding-right: 85px;
        }
      }
    }

    @media only screen and(max-width: 768px) {
      display: none;
    }
  }

  &-info {

    &__investors-container {
      margin-top: 60px;

      @media only screen and(max-width: 768px) {
        margin-top: 10px;
      }
    }
    &-container {
      width: 73%;
      padding-right: 2%;

      @media only screen and(max-width: 1280px) {
        width: 80%;
      }

      @media only screen and(max-width: 768px) {
        width: 100%;
        padding: 0;
      }
      &>h2 {
        width: 98%;
        font-family: $font-bold-2-title;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 54px;
        margin-bottom: 40.5px;
        padding-top: 78px;

        @media only screen and(max-width: 1280px) {
          font-size: 34px;
          line-height: 44px;
          margin-bottom: 40.5px;
          padding-top: 78px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 26px;
          line-height: 33px;
          padding-top: 48px;
          margin-bottom: 10px;
        }

        @media only screen and(max-width: 520px) {
          font-size: 16px;
          line-height: 23px;
          margin-bottom: 5px;
          padding-top: 15px;
          padding-bottom: 10px;
        }

        @media only screen and(max-width: 360px) {
          font-size: 14px;
        }

      }
    }

    &__menu {
      &-item {
        display: none;
        border: 1px solid black;

        @media only screen and(max-width: 768px) {
          display: block;
        }
      }
    }

    &__accordion {
      max-width: 100%;
      height: auto;

      &-item {
        margin: 0;
        overflow: hidden;
        border: none;
        outline: none;

        padding: 45px 0;
        border-bottom: 1.3px solid darken($grey-light-border, 10);

        @media only screen and(max-width: 768px) {
          padding: 25px 0;
        }

        @media only screen and(max-width: 450px) {
          padding: 10px 0;
        }

        &:last-child {
          margin-bottom: 62px;
          @media only screen and(max-width: 768px) {
            margin-bottom: 40px;
          }
        }

        &.active {
          border-bottom: 1px solid #C30215;
          padding-bottom: 0;
        }

        &>ul {
          padding: 0;
          margin: 0;
        }

        &--title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $font-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          cursor: pointer;
          color: #171C28;

          &>span {
            @media only screen and(max-width: 1280px) {
              font-size: 26px;
              line-height: 36px;
            }

            @media only screen and(max-width: 1110px) {
              font-size: 22px;
            }

            @media only screen and(max-width: 960px) {
              font-size: 20px;
            }

            @media only screen and(max-width: 870px) {
              font-size: 18px;
            }

            //@media only screen and(max-width: 768px) {
            //  font-size: 16px;
            //}
          }

          @media only screen and(max-width: 768px) {
            font-size: 18px;
            line-height: 23px;
          }

          @media only screen and(max-width: 360px) {
            font-size: 16px;
          }

          &>span {
            @media only screen and(max-width: 360px) {
              font-size: 16px;
              line-height: 23px;
            }
          }


          &-arrow {
            transform: translateX(-50%) rotate(0);
            transition: transform 1s ease;

            &>svg {
              fill: #000000;

              @media only screen and(max-width: 768px) {
                width: 22px;
              }

              @media only screen and(max-width: 580px) {
                width: 16px;
              }

              @media only screen and(max-width: 360px) {
                width: 12px;
              }
            }
          }
        }

        &--text {
          font-family: inherit;
          font-size: 1rem;
          font-weight: normal;
          line-height: inherit;
          display: none;
          padding: 30px 0;


          &>a {
            text-decoration: none;
            color: inherit;
          }
        }

        &.active {
          .akcioner-info__accordion-item--title {
              color: #C30215;
              &-arrow {
                transform: translateX(-50%) rotate(180deg);
                &>svg {
                  fill: #C30215;
                }
              }
          }

          .akcioner-info__accordion-item--text {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition-delay: 2s;
            &:not(:first-child) {
              border-top: 1px solid #c9c9c9;
            }

            &-container {
              display: flex;
              width: 25%;
              justify-content: space-between;
              padding-left: 15px;

              @media only screen and(max-width: 1750px) {
                width: 30%;
              }

              @media only screen and(max-width: 1435px) {
                width: 35%;
              }

              @media only screen and(max-width: 1280px) {
                width: 40%;
              }

              @media only screen and(max-width: 1100px) {
                width: 45%;
              }

              @media only screen and(max-width: 960px) {
                width: 50%;
              }

              @media only screen and(max-width: 850px) {
                width: 60%;
              }

              @media only screen and(max-width: 768px) {
                width: 35%;
              }

              @media only screen and(max-width: 660px) {
                width: 45%;
              }

              @media only screen and(max-width: 512px) {
                width: 50%;
              }

              @media only screen and(max-width: 465px) {
                width: 55%;
              }
            }

            &-icon {
              width: 37px;
              height: 50px;

              &>svg {
                @media only screen and(max-width: 768px) {
                  width: 30px;
                  height: auto;
                }

                @media only screen and(max-width: 420px) {
                  width: 25px;
                  height: auto;
                }
              }

            }

            &-doc {
              display: flex;
              flex-direction: column;

              &-title {
                font-family: $font-text-light;
                font-size: 24px;
                line-height: 30px;
                color: #171C28;

                @media only screen and(max-width: 1280px) {
                  font-size: 24px;
                  line-height: 30px;
                }

                @media only screen and(max-width: 768px) {
                  font-size: 18px;
                  line-height: 23px;
                }

                @media only screen and(max-width: 420px) {
                  font-size: 14px;
                  line-height: 20px;
                }
              }

              &-format {
                font-family: $font-text-light;
                font-size: 14px;
                line-height: 26px;
                color: #A6A2A2;
              }
            }

            &-date {
              font-family: $font-text-light;
              font-size: 16px;
              line-height: 26px;
              color: #A6A2A2;

              @media only screen and(max-width: 768px) {
                font-size: 14px;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }
}

.akcioner-info__menu-item {
  border: none;

  margin: 0;
  padding: 0;
}

.akcioner-info__menu-item--title {
  border: 1px solid black;
  padding: 15px;

  @media only screen and(max-width: 360px) {
    padding: 5px !important;
  }
}

.active {
  .akcioner-info__menu{
    border: none;
  }

  .akcioner-info__menu-item--title {
    border: 1px solid black;
    padding: 15px;

    @media only screen and(max-width: 360px) {
      padding: 5px;
    }
  }
}


.akcioner-info__menu {
  border: none;
  margin-top: 40px;

  &-item {
    overflow: hidden;
    outline: 0;

    &>ul {

      &>li {
        background-color: #F8F8F8;
        color: #616161;
        border: none !important;
        padding: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 136.6%;

        @media only screen and(max-width: 570px) {
          padding: 5px 5px 5px 0;
        }
      }
    }

    &.active {

      &>ul {
        border: 1px solid #DDDDDD;
      }
      border-bottom: none;
      border-right: none;
      border-left: none;
      padding: 0;
    }
  }
}

.akcioner-info__menu-item--title {
  font-size: 14px;
  align-self: center;

  &>h2 {
    align-self: flex-end;
  }
}

.akcioner-info__menu-item.active .akcioner-info__menu-item--title {
  color: #171C28;
}

.akcioner-info__menu-item.active {
  border-top: none;
}

.akcioner-info__menu-item.active .akcioner-info__menu-item--text {
  border-bottom: 1px solid #c9c9c9;
}

.akcioner-info__menu-item.active .akcioner-info__menu-item--text-container {
  width: 100%;
  font-size: 16px;
  font-family: $font-regular;
  color: #616161;
}

.akcioner-info__menu-item--text-container.active {
  color: #C30215 !important;
}

.akcioner-investors-sidebar__contacts {
  h2 {
    margin-top: 30px;
  }
}


.akcioner-info__accordion-item {
  &.active, &:active {
    &>ul {
      max-height: 300px;
    }
  }

  &>ul {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    // "height: 0" not work with css transitions
    max-height: 0;
  }
}

.akcioner-navigation-list__item-active.active {
  .akcioner-navigation-list__item-active-arrow {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
}

.akcioner-navigation-list__item-active-arrow {
  display: none;

  @media only screen and(max-width: 768px) {
    display: inline-block;
  }
}

 .akcioner-menu {
  &-container {
    position: absolute;
    display: none;
    padding-top: 30px;
    padding-left: 14px;
    padding-bottom: 15px;
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    width: 89%;
    margin: 0 auto;
    z-index: 1000;
    left: 33px;

    @media only screen and(max-width: 658px) {
      left: 30px;
    }

    @media only screen and(max-width: 600px) {
      left: 25px;
    }

    @media only screen and(max-width: 500px) {
      left: 20px;
    }

    @media only screen and(max-width: 460px) {
      left: 13px;
    }
  }

  &__nav-list {
    list-style: none;

  }

  &__nav-item {
    padding-bottom: 24px;
    &>a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #616161;

    }
  }
}




