* {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.contacts {

  &-container {
    position: relative;
    padding: 0 0 0 10%;
    margin: 0;

    @media only screen and(max-width: 1280px) {
      padding: 0 0 0 5%;
    }

    @media only screen and(max-width: 768px) {
      padding-right: 0;
      padding-left: 0;
    }

    //@media only screen and(max-width: 767px) {
    //  margin-bottom: 35px;
    //}
  }

  &-navigation {
    width: 100%;
    display: flex;
    //border-bottom: 2px solid #E2E2E2;
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    color: $grey-text-paragraf;
    padding-top: 90px;
    overflow-y: hidden;

    @media only screen and(max-width: 960px) {
      display: flex;
      justify-content: center;
      border-bottom: none;
      font-size: 16px;
    }

    @media only screen and(max-width: 640px) {
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      //border-bottom: 2px solid #E2E2E2;
      font-size: 14px;
      width: 90%;
      margin-left: 5%;
    }

    @media only screen and (max-width: 600px) {
      border-bottom: 2px solid #E2E2E2;
      width: 80%;
    }

    &>ul {
      width: 100%;
      justify-content:  space-between;
      list-style: none;
      display: flex;
      border-bottom: 2px solid #E2E2E2;

      padding-right: 34%;

      //padding: 0;
      @media only screen and(max-width: 1280px) {
        width: 100%;
        padding-right: 10%;
      }

      @media only screen and(max-width: 768px) {
        width: 95%;
        padding-right: 5%;
        margin-left: 5%;
      }
      @media only screen and(max-width: 640px) {
        width: 100%;
        margin-left: 0;
      }
      @media only screen and(max-width: 600px) {
        width: 100%;
        margin-left: 6%;
        border-bottom: none;
      }
    }

    &-list {
      &__item {

        @media only screen and(max-width: 640px) {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }

        &-active {
          display: flex;
          position: relative;
          color: $red-color;
          &:before {
            content: "";
            position: absolute;
            display: block;
            bottom: -2px;
            width: 100%;
            height: 6px;
            background-color: $red-color;
            //border-bottom: 6px solid $red-color;

            @media only screen and(max-width: 1280px) {
              bottom: -3px;
            }
          }
        }

        &>a {
          display: block;
          text-decoration: none;
          color: inherit;
          padding-bottom: 30px;


          @media only screen and(max-width: 1280px) {
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 18px;
          }

          @media only screen and(max-width: 960px) {
            padding-bottom: 10px;
            font-size: 16px;
          }
          @media only screen and(max-width: 640px) {
            font-size: 14px;
            padding-bottom: 10px;
          }
        }
      }
    }

  }

  &-menu {
    &-container {
      position: absolute;
      display: block;
      padding-top: 30px;
      padding-left: 14px;
      padding-bottom: 15px;
      background: $bg-color-light-grey;
      border: 1px solid $grey-light-border;
      width: 89%;
      margin: 0 auto;
      z-index: 1000;
      left: 10%;
      transition: transform 0.2s linear;
      transform: scaleY(0);
      transform-origin: 0 0;
      &.show {
        transform: scaleY(1);
      }

      @media only screen and(max-width: 1280px) {
        left: 5%;
      }

      @media only screen and(max-width: 658px) {
        width: calc(88% - 3px);
      }

      @media only screen and(max-width: 600px) {
        width: 90%;
        left: 5%;
      }
    }

    &__nav-list {
      list-style: none;

    }

    &__nav-item {
      padding-bottom: 24px;
      font-family: $font-regular;
      &>a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: $grey-text-paragraf;
      }
    }
  }

  &__content {
    &-container {
      width: 100%;
      display: flex;
      overflow: hidden;

      @media only screen and(max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &-info {

    &__text-wrapper {
      @media only screen and(max-width: 768px) {
        width: 90%
      }
    }

    &__menu-icon {
      &-burger {
        position: relative;
        display: inline-block;
        width: 1.625em;
        height: .103em;
        background: $black-grey;

        &::before, &::after {
          content: "";
          position: absolute;
          width: 1.625em;
          height: .103em;
          background: $black-grey;
        }

        &::before {
          top: -.625em;
        }

        &::after {
          bottom: -.625em;
        }
      }
    }

    &__contacts-container {
      padding-top: 65px;

      @media only screen and(max-width: 1280px) {
        padding-top: 55px;
      }

      @media only screen and(max-width: 768px) {
        width: 100%;
        padding-top: 40px;
      }

      @media only screen and(max-width: 768px) {
        width: 100%;
        padding-top: 30px;
      }
    }

    &-container {
      box-sizing: border-box;
      width: 80%;
      padding-right: 2%;

      @media only screen and(max-width: 1280px) {
        width: 70%;
      }

      @media only screen and(max-width: 768px) {
        width: 87%;
        padding-right: 0;
      }
    }

    &__menu {
      &-item {
        display: none;
        border: 1px solid black;

        @media only screen and(max-width: 768px) {
          display: block;
        }
      }
    }

    &-contacts {
      display: flex;
      flex-wrap: wrap;
    }

    &-content {
      margin-bottom: 40px;
      &-title {
        font-family: $font-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.2;
        color: $black-grey;

        margin-bottom: 10px;

        @media only screen and(max-width: 1280px) {
          font-size: 20px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 14px;
        }
      }


      &-address {
        font-family: $font-text-regular;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        color: $grey-text-paragraf;
        margin-right: 115px;
        margin-bottom: 20px;

        @media only screen and(max-width: 1280px) {
          font-size: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        @media only screen and(max-width: 768px) {
          font-size: 14px;
        }

        &:last-child {
          margin-right: 0;
        }

        & > a {
          position: relative;
          display: inline-block;
          color: inherit;
          &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 0;
            height: 1px;
            bottom: 3px;
            background-color: $grey-text-paragraf;
            transition: width 1s linear
          }
          &:hover {
            &:before{
              width: 100%;
            }
          }
        }

        &>span {
          display: block;
        }
      }
    }
  }

  &__contacts {
    &-info {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and(max-width: 1280px) {
        margin-bottom: 20px;
      }

      @media only screen and(max-width: 960px) {
        margin-bottom: 15px;
      }

      @media only screen and(max-width: 640px) {
        margin-bottom: 7px;
      }

      &__main {
        width: 100%;
        font-family: $font-bold-2-title;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        padding-bottom: 32px;

        @media only screen and(max-width: 1280px) {
          font-size: 36px;
          padding-bottom: 25px;
        }

        @media only screen and(max-width: 960px) {
          font-size: 26px;
          padding-bottom: 15px;
        }

        @media only screen and(max-width: 640px) {
          font-size: 22px;
          margin-bottom: 5px;
          padding-bottom: 10px;
        }
      }

      &__pressc {
        & > h3 {
          font-family: $font-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 1.2;
          color: $black-grey;
          padding-top: 15px;
          margin-bottom: 40px;

          @media only screen and(max-width: 1280px) {
            font-size: 25px;
          }

          @media only screen and(max-width: 768px) {
            font-size: 20px;
          }

          @media only screen and(max-width: 640px) {
            font-size: 16px;
          }
        }

        & > address {
          & > p {
            font-family: $font-text-regular;
            font-size: 24px;
            margin-bottom: 16px;

            @media only screen and(max-width: 1280px) {
              font-size: 22px;
            }

            @media only screen and(max-width: 768px) {
              font-size: 18px;
            }

            @media only screen and(max-width: 640px) {
              font-size: 16px;
            }
          }
        }
      }

      &__title {
        font-family: $font-text-light;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: $grey-text-paragraf;
        margin-bottom: 0;

        @media only screen and(max-width: 1280px) {
          font-size: 16px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 14px;
        }

        @media only screen and(max-width: 640px) {
          font-size: 12px;
        }
      }

      &__paragraph {
        font-family: $font-text-light;
        font-size: 24px;
        line-height: 1.5;
        color: $black-grey;

        @media only screen and(max-width: 1280px) {
          font-size: 20px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 18px;
          padding-bottom: 13px;
        }

        @media only screen and(max-width: 640px) {
          font-size: 16px;
          padding-bottom: 7px;
        }

        & > a {
          position: relative;
          display: inline-block;
          color: inherit;
          &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 0;
            height: 2px;
            bottom: 5%;
            background-color: $black-grey;
            transition: width 1s linear
          }
          &:hover {
            &:before{
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-map {
    width: 90%;
    margin-top: 30px;

    @media only screen and(max-width: 1280px) {
      padding-top: 30px;
    }

    @media only screen and(max-width: 768px) {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;

    }
    &>div {
      height: 462px;

      @media only screen and(max-width: 1280px) {
        height: 316px;
      }

      @media only screen and(max-width: 768px) {
        height: 342px;
      }

      @media only screen and(max-width: 360px) {
        height: 250px;
      }
    }
  }

  &-sidebar {
    min-height: 100vh;
    width: 40%;
    background-color: $bg-color-light-grey;

    @media only screen and(max-width: 1280px) {
      width: 30%;
    }

    @media only screen and(max-width: 768px) {
      max-width: 0;
      max-height: 0;
      min-height: auto;
      overflow: hidden;
    }

    &__input {
      display: none;
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      transition: 1s;
    }

    &__label {

      &:checked ~ .contacts-sidebar__text{
        border-left: 3px solid $red-color;
        color: $red-color;
      }
      &:focus + .contacts-sidebar__text{
        border-left: 3px solid $red-color;
        color: $red-color;
      }
    }

    &__text {
      position: relative;
      cursor: pointer;
      display: block;

      font-family: $font-regular;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-transform: uppercase;
      color: $grey-text-paragraf;

      transition: color .8s;
      margin-bottom: 40px;
      padding-left: 6%;

      @media only screen and(max-width: 1280px) {
        margin-bottom: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 3px;
        height: 0;
        transition: height .8s;
        background-color: $red-color;
      }
    }

    &__contacts {
      padding: 0 6% 0 6%;
    }

    &__nav {
      padding-top: 70px;
      @media only screen and(max-width: 1280px) {
        padding-top: 58px;
      }
      &-item.active {
        border-left: 3px solid $red-color;
        &>a {
          color: $red-color;

        }
      }
      &>ul {
        list-style: none;
        padding: 0;

        &>li {
          margin-bottom: 40px;
          padding-left: 6%;

          @media only screen and(max-width: 1280px) {
            margin-bottom: 30px;
          }
          &>a {
            font-family: $font-regular;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            color: $grey-text-paragraf;

            @media only screen and(max-width: 1280px) {
              font-size: 16px;
            }
          }
        }
      }
    }

  }

  &-social {

    &-container {
      border-top: 1px solid #E2E2E2;
      padding-top: 80px;

      @media only screen and(max-width: 1280px) {
        padding-top: 26px;
      }
    }

    &__list {
      list-style: none;
      display: flex;
      padding-bottom: 50px;

      @media only screen and(max-width: 1280px) {
        padding-top: 14px;
      }

      &-item {
        position: relative;
        width: 50px;
        height: 46px;
        border: 1px solid #E6E6E6;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          transition: all .5s ease;
          content: "";
          position: absolute;
          width: 0%;
          left: 0;
          height: 100%;
          background-color: $black-grey;
        }

        &:hover:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $black-grey;
          //z-index: 1;
        }

        &:hover > a > svg {
          fill: $light-grey-color;
        }

        &-subscribe {
          font-family: $font-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 1.2;
          color: $black-grey;
          margin-bottom: 20px;

          @media only screen and(max-width: 1280px) {
            font-size: 16px;
          }
        }
      }

      &-ico {
        position: relative;
        z-index: 1;
        transition: fill .5s ease;
        fill: $black-grey;
      }
    }
  }

  &__email-input {
    display: flex;
    align-items: center;
    margin-bottom: 245px;
    &>input {
      box-sizing: border-box;
      width: 294px;
      height: 60px;
      border: solid 1px $grey-light-border;
      padding-left: 15px;
      padding-right: 15px;
      background: #fff;
      font-family: $font-text-light;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      transition: border .5s ease;

      @media only screen and(max-width: 1280px) {
        width: 180px;
      }

      @media only screen and(max-width: 920px) {
        width: 70%;
      }

      &:hover {
        border: solid 1px $black-grey;
      }
    }
    &-icon {
      background-color: $black-grey;
      height: 60px;
      width: 70px;
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: solid 0 black;
      cursor: pointer;
      outline: none;

      @media only screen and(max-width: 920px) {
        width: 30%;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }

  &_group {
    &_container {
      width: 100%;
    }

    &_contacts {
      margin-bottom: 26px;

      @media only screen and(max-width: 1280px) {
        margin-bottom: 22px;
      }

      @media only screen and(max-width: 960px) {
        margin-bottom: 20px;
      }

      @media only screen and(max-width: 640px) {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    &_title {
      font-family: $font-text-regular;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      color: $black-grey;

      @media only screen and(max-width: 1280px) {
        font-size: 16px;
      }

      @media only screen and(max-width: 960px) {
        font-size: 14px;
      }

      @media only screen and(max-width: 640px) {
        font-size: 14px;
      }
    }
    &_address {
      font-family: $font-text-light;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2;
      color: $grey-text-paragraf;
      @media only screen and(max-width: 1280px) {
        font-size: 16px;
      }

      @media only screen and(max-width: 960px) {
        font-size: 14px;
      }

      @media only screen and(max-width: 640px) {
        font-size: 14px;
      }
    }
    &_link {
      position: relative;
      color: inherit;
      &:before {
        position: absolute;
        display: inline-block;
        content: "";
        width: 0;
        height: 1px;
        bottom: 0;
        background-color: $grey-text-paragraf;
        transition: width 1s linear
      }
      &:hover {
        &:before{
          width: 100%;
        }
      }
    }
  }

  &_form {
    &_text {
      margin-bottom: 50px;

      @media only screen and(max-width: 1280px) {
        margin-bottom: 25px;
      }
      @media only screen and(max-width: 960px) {
        margin-bottom: 25px;
      }
      @media only screen and(max-width: 1280px) {
        margin-bottom: 35px;
      }
    }

    &_description {
      font-family: $font-text-light;
      font-size: 24px;
      line-height: 1.4;
      color: $black-grey;
      margin-right: 5%;

      @media only screen and(max-width: 1280px) {
        font-size: 20px;
        line-height: 1.3;
      }
      @media only screen and(max-width: 960px) {
        font-size: 14px;
        line-height: 1.3;
      }
      @media only screen and(max-width: 640px) {
        font-size: 14px;
        line-height: 1.3;
      }
    }

    &_group {
      margin-bottom: 50px;

      @media only screen and(max-width: 1280px) {
        margin-bottom: 75px;
      }

      @media only screen and(max-width: 960px) {
        margin-bottom: 20px;
      }

      @media only screen and(max-width: 640px) {
        margin-bottom: 30px;
      }


      &_select {
        display: block;
        border: 1px solid transparent;
        margin-bottom: 30px;

        @media only screen and(max-width: 1280px) {
          margin-bottom: 25px;
        }

        @media only screen and(max-width: 960px) {
          margin-bottom: 20px;
        }

        @media only screen and(max-width: 640px) {
          margin-bottom: 15px;
        }
      }

      &_input {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;

        @media only screen and(max-width: 920px) {
          margin-bottom: 25px;
        }
        @media only screen and(max-width: 640px) {
          margin-bottom: 20px;
          flex-wrap: wrap;
        }

        &:last-child {
          margin-bottom: 160px;

          @media only screen and(max-width: 1280px) {
            margin-bottom: 130px;
          }
          @media only screen and(max-width: 960px) {
            margin-bottom: 150px;
          }
          @media only screen and(max-width: 640px) {
            margin-bottom: 140px;
          }
        }
      }

      &_info {
        font-family: $font-text-regular;
        font-size: 18px;
        color: $grey-text-paragraf;
        margin-left: 31%;

        @media only screen and(max-width: 1280px) {
          margin-left: 30%;
        }

        @media only screen and(max-width: 960px) {
          margin-left: 32%;
          font-size: 16px;
        }

        @media only screen and(max-width: 640px) {
          display: block;
          margin-left: auto;
          margin-right: auto;
          font-size: 14px;
        }
      }

      &_button {
        position: relative;
        border: 1px solid $black-grey;
        box-sizing: border-box;
        font-family: $font-text-regular;
        font-size: 14px;
        color: $black-grey;
        text-transform: uppercase;
        background-color: transparent;
        padding: 22px 93px;
        margin-left: 28%;
        margin-right: 27px;
        @media only screen and(max-width: 1280px) {
          margin-left: 30%;
        }

        @media only screen and(max-width: 960px) {
          margin-left: 32%;
          font-size: 16px;
        }

        @media only screen and(max-width: 640px) {
          display: block;
          width: 100%;
          font-size: 14px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 18px;
        }


        &::before {
          transition: all .5s ease;
          content: "";
          position: absolute;
          width: 0%;
          left: 0;
          top: 0;
          height: 100%;
          background-color: $black-grey;
        }

        &:hover {
          color: $light-grey-color;
        }

        &:hover:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $black-grey;
          z-index: -1;
        }
      }

      &_agreement {
        max-width: 417px;
        font-family: $font-text-regular;
        font-size: 18px;
        line-height: 1.2;
        color: $grey-text-paragraf;

        @media only screen and(max-width: 1280px) {
          font-size: 16px;
        }

        @media only screen and(max-width: 960px) {
          font-size: 14px;
        }

        @media only screen and(max-width: 640px) {

          font-size: 14px;
        }

        & > a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &_select {
      display: block;
      box-sizing: border-box;
      width: 100%;
      max-width: 901px;

      padding: 30px 25px;

      margin: 0;

      border: 1px solid $grey-text-table;
      background: center right 5px no-repeat
      url("https://netology-code.github.io/html-2-homeworks/form-elements/city-select/img/select-arrows.svg");

      font-size: 18px;
      font-family: $font-regular;
      color: $black-grey;

      -webkit-appearance: none;
      -moz-appearance: none;

      @media only screen and(max-width: 1280px) {
        font-size: 16px;
      }
      @media only screen and(max-width: 960px) {
        font-size: 14px;
        padding: 25px;
      }
      @media only screen and(max-width: 640px) {
        font-size: 12px;
        padding: 18px 10px;
      }

    }

    &_label {
      display: block;
      width: 27%;
      font-family: $font-text-regular;
      font-size: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $grey-text-paragraf;
      padding: 20px 0;

      @media only screen and(max-width: 1280px) {
        width: 30%;
        font-size: 16px;
      }
      @media only screen and(max-width: 960px) {
        width: 32%;
        font-size: 14px;
      }
      @media only screen and(max-width: 640px) {
        width: 100%;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 10px;
      }
    }

    &_input {
      display: block;
      width: 50%;
      max-width: 504px;

      font-family: $font-text-regular;
      font-size: 18px;
      color: $black-grey;

      background: #F6F6F6;
      border: 1px solid #DCE0E3;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 20px 23px;

      @media only screen and(max-width: 1280px) {
        width: 61%;
      }

      @media only screen and(max-width: 960px) {
        width: 63%;
      }

      @media only screen and(max-width: 640px) {
        width: 100%;
      }
    }
  }

}

.contacts-info__menu {

  &-item {
    margin-top: 15px;
    overflow: hidden;
    outline: 0;
    border: 1px solid #000000;
    padding: 15px;

    &.active {
      border-bottom: none;
      border-right: none;
      border-left: none;
    }
  }
}

.contacts-info__menu-item.active .contacts-info__menu-item--title {
  color: $black-grey;
}

.contacts-info__menu-item.active {
  border-top: none;
}

.contacts-info__menu-item.active .contacts-info__menu-item--text {
  border-bottom: 1px solid #c9c9c9;
}

.contacts-info__menu-item.active .contacts-info__menu-item--text-container {
  width: 100%;
  font-size: 16px;
  font-family: $font-regular;
  color: $grey-text-paragraf;
}

.contacts-contacts-sidebar__contacts {
  h2 {
    margin-top: 30px;
  }
}

.contacts-navigation-list__item-active.active {
  .contacts-navigation-list__item-active-arrow {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
}

.contacts-navigation-list__item-active-arrow {
  display: none;

  @media only screen and(max-width: 768px) {
    display: block;
    margin-bottom: 8px;
    margin-left: 11px;
    //margin-left: 11px;
    min-width: 14px;
    min-height: 9px;
  }


}

//Активация табов
#contacts-main, #management, #press-center {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  padding-right: 0;
  padding-top: 0;
  //display: none;
  transition: opacity 2s linear;
  opacity: 0;
}

#label4,
#label5,
#label6 {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: $grey-text-paragraf;
  cursor: pointer;
}

#tab1:checked ~ #contacts-main,
#tab2:checked ~ #management,
#tab3:checked ~ #press-center {
  max-width: inherit;
  max-height: inherit;
  padding-right: 2%;
  //display: block;
  opacity: 1;
  padding-top: 65px;

  @media only screen and(max-width: 1280px) {
    padding-top: 55px;
  }

  @media only screen and(max-width: 768px) {
    width: 100%;
    padding-top: 40px;
    padding-left: 5%;
  }

  @media only screen and(max-width: 768px) {
    width: 100%;
    padding-top: 30px;
  }
}

#tab1:checked  ~ .contacts-sidebar > nav > #label1,
#tab2:checked  ~ .contacts-sidebar > nav > #label2,
#tab3:checked  ~ .contacts-sidebar > nav > #label3 {
  color: $red-color;
  &::before {
    height: 100%;
  }
}

#yamap {
  width: 100%;
  height: 100%;
  & > ymaps {
    height: inherit!important;
    & > ymaps {
      height: inherit!important;
      & > ymaps {
        height: inherit!important;
      }
    }
  }
}