.forheader{
	position: relative;
}
.header{
	position: fixed;
	top:0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 1000;
	transition: all 0.5s ease;
	will-change: transform;
	overflow: hidden;
}
.header.hide{
	transform: translateY(-100%);
}
.has-nav-open .header.hide{
	transform: translateY(0%);
}
.header::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 0%;
	background-color: #FFFFFF;
	bottom: 0;
	transition: all 0.5s ease;
	will-change: transform;
	
	overflow: hidden;
}
.header.js-scroll::before{
	height: 100%;
	transition: all 0.5s ease;
}
.has-nav-open .header::before{
	transform: translateY(-100%);
}


.header.js-scroll-hide::before{
	height: 100%;
	bottom: auto;
	top: 0;
	transform: translateY(-100%);
	
}

.container--header{
	
	padding-left: 4%;
	padding-right: 4%;
	box-sizing: border-box;

}
.header__wrapper{
	display: flex;
	align-items: center;
}
.header__logo{
	display: flex;
	align-items: center;
	text-decoration: none;
	position: relative;
	
	transition: all 1s ease;
}
.header.js-scroll-hide .header__logo{
	transform: translateY(-200%);
	pointer-events: none;
}
.header__logo-icon{
	width: 25px;
	height: 25px;
}
.header__logo-text{
	margin: 0;
	padding: 0;
	font-family: $font-bold-title;
	font-style: normal;
	font-weight: 900;
	font-size: 12px;
	line-height: 100%;

	text-transform: uppercase;
	position: relative;
	color: #FFFFFF;
	padding-left: 10px;
	transition: all 0.5s ease;
}
.header.js-scroll .header__logo-text{
	color: #000000;
}
.header.js-scroll .header__logo-text br{
	display: none;
}
.c-nav-button {
	@include btn-destroy;
	width: 45px;
	height: 30px;
	margin-right: 10px;
	transform: translateY(0);
	transition-delay: transform 1.05s;
	
	position: relative;

	
}
.c-nav-button_wrap {

	transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-nav-button_icon {
	width: 100%;

	transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-nav-button_line {
	margin-bottom: 8px;
}

.c-nav-button_line {
	position: relative;
	display: block;
	height: 1px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: opacity 0.15s 0.05s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, opacity 0.15s 0.05s;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, opacity 0.15s 0.05s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.c-nav-button_line:nth-child(2) {
	transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.05s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
}
.c-nav-button_line:nth-child(3) {
	position: relative;
	margin-bottom: 0;
}
.c-nav-button:hover .c-nav-button_line:nth-child(1)::before {
	transition-delay: 0s;
}
.c-nav-button:hover .c-nav-button_line::before {
	transform: translateY(-2px);
}
.c-nav-button_line:nth-child(1)::before {
	transition-delay: 0.2s;
}


.c-nav-button_line::before, .c-nav-button_line::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ffffff;

	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	transform: translateZ(0);
}

.header.js-scroll .c-nav-button_line::before, .header.js-scroll .c-nav-button_line::after {
	background-color: #000000;
}
.header.js-hide .c-nav-button_line::before, .header.js-scroll .c-nav-button_line::after {
	background-color: #000000;
}
.c-nav-button_line::after {
	opacity: 0;
}
.c-nav-button_line:nth-child(2)::before {
	transition-delay: 0.1s;
}
.c-nav-button:hover .c-nav-button_line:nth-child(3)::before {
	transition-delay: 0.2s;
}

.has-nav-open .c-nav-button_icon {

	transform: rotate(135deg);
	transition-delay: 0.2s;
}
.has-nav-open .c-nav-button{
background: transparent;
}
.has-nav-open .c-nav-button_line:nth-child(1) {

	transform: translateY(8px);
}
.has-nav-open .c-nav-button_line:nth-child(1) {
	transition-delay: 0s, 0.2s;
}
.has-nav-open .c-nav-button_line:nth-child(2) {

	transform: rotate(90deg);
	transition-delay: 0.15s;
}
.has-nav-open .c-nav-button_line:nth-child(3) {
	transform: translateY( 0px);
	opacity: 0;
	transition-delay: 0s, 0.15s;
}

.has-nav-open  .c-nav-button:hover .c-nav-button_line::before {
	transform: translateY(0px);
}

.has-nav-open  .c-nav-button:hover .c-nav-button_line::after {
	transform: translateY(0px);
}
.has-nav-open  .c-nav-button_wrap:hover{
	transform: translateY(-2px);
}
.has-nav-open .header__logo{
	display: none;
}
.has-nav-open .c-nav-button_line::before,.has-nav-open .c-nav-button_line::after{
	background-color: #ffffff !important;
}



.container--header--main{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-unversity-icon{
	width: 30px;
	height: 20px;
	margin-left: 5px;
}
.header__university-text{
	font-size: 10px;
	line-height: 9px;
	text-align: right;
	color: #FFFFFF;
	font-family: $font-text-regular;
}
.header__wrapper--university{
	display: block;
}
@media(max-width: 360px){
	.header__wrapper--university{
		display: none;
	}
}

@media(min-width: 767px){
	.header__wrapper--university{
		display: block;
	}
	.container--header{
		
		padding-left: 2%;
		padding-right: 2%;
		max-width: 1280px;
		margin: 0 auto;
	}

	.c-nav-button {
		width: 30px;
		height: 20px;
		margin-right: 15px;
	}
	.c-nav-button_line {
		margin-bottom: 6px;
	}

	.header__logo-icon{
		width: 18px;
		height: 18px;
	}
	.header__logo-text{

		font-size: 10px;
		line-height: 100%;

		padding-left: 10px;
	}

}
@media(min-width: 1280px){
	.container--header{
		
		padding-left: 2%;
		padding-right: 2%;
		max-width: 1920px;
		margin: 0 auto;
	}
	.header{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.header.js-scroll{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.c-nav-button {
	
		width: 45px;
		height: 25px;
		margin-right: 30px;
	}
	.c-nav-button_line {
		margin-bottom: 10px;
	}
	.has-nav-open .c-nav-button_line:nth-child(1) {
		transform: translateY(10px);
	}
	.header__logo-icon{
		width: 28px;
		height: 28px;
	}
	.header__logo-text{

		font-size: 14px;
		line-height: 100%;

		padding-left: 10px;
	}


	.header__logo-unversity-icon{
		width: 50px;
		height: 30px;
		margin-left: 10px;
	}
	.header__university-text{
		font-size: 12px;
		line-height: 11px;

	}
}

@media(min-width: 1680px){
	.container--header{
		
		padding-left: 3%;
		padding-right: 3%;
		max-width: 1920px;
		margin: 0 auto;
	}
	.header{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.header.js-scroll{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.c-nav-button {
	
		width: 50px;
		height: 30px;
		margin-right: 65px;
	}
	.c-nav-button_line {
		height: 2px;
		margin-bottom: 12px;
	}
	.has-nav-open .c-nav-button_line:nth-child(1) {
		transform: translateY(12px);
	}
	.header__logo-icon{
		width: 32px;
		height: 32px;
	}
	.header__logo-text{

		font-size: 16px;
		line-height: 100%;

		padding-left: 12px;
	}
	
}







