.news__title{
    
    @extend %block-title;
    padding-top: 35px;
}
.news__container{
    margin-top: 25px;
    width: 100%;
    // height: 220px;
}
.news__item{
    width: 100%;

}
.parallax__item--news{
    width: 100%;
    height: 220px;
}
.news__controls{
    display: none;
}
.parallax__img--news{
    background-size: cover;
    background-position: center;
    
    --overflow: 50px;
   
        height: calc(100% + (2 * var(--overflow))) !important;
        top: calc( -1 * var(--overflow));
}
.parallax__img-inner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.news__date{
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-family: $font-text-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: rgba(60, 61, 64, 0.39);
}
.news__subtitle{
   @extend %block-text;
   color: $black-grey;
   font-family: $font-text-regular;
   padding-bottom: 60px;
}

.swiper-container-horizontal>.swiper-scrollbar.swiper-scrollbar--news {
	@extend %scroll-line;
}

.swiper-scrollbar--news .swiper-scrollbar-drag{
	@extend %scroll-drag;
}

.news__item--video .parallax__item--news::before{
   content: "";
   position: absolute;
    width: 55px;
    height: 55px;
    background-size: 55px 55px;
    background-image: url(../img/news/icon-play.svg);
    background-position: center center;
    z-index: 200;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

}
.news__link{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 200;
}
.parallax__item--news .parallax__img-wrap{
    transition: transform 0.9s ease;
}
.news__link:hover ~ .parallax__item--news .parallax__img-wrap{
    transform: scale(1.1);
    transform-origin: center;
}
@media(min-width: 500px){
    .news__item{
        width: 315px;
    }
}
@media(min-width: 767px){
    .news__title{
        padding-top: 60px;
    }
    .news__container{
        margin-top: 50px;
        display: flex;

        box-sizing: border-box;
        overflow: hidden;
    }
    .news__container .swiper-wrapper{
        order: 2;
    }
    .container--news{
        padding-right: 8% !important;
        padding-left: 0 !important;
    }
    .swiper-scrollbar--news{
        display: none;
    }
    .news__controls{
        z-index: 100;
        position: relative;
        display: block;
        width: 8%;
        flex-shrink: 0;
        display: flex;
     
        flex-direction: column;
        order: 1;
        background-color: #ffffff;
        box-sizing: border-box;
       
    }
    .news__controls .swiper-button-next,.news__controls .swiper-button-prev{
        position: relative;
        top: 190px;
        bottom: auto;
        left: 20%;
        right: auto;
        width: 35px;
        height: 35px;
        border: 1px solid #A29797;
    

    }
    .news__controls .swiper-button-prev{
        top: 160px;
    }
    .news__controls .swiper-button-next::after,.news__controls .swiper-button-prev::after{
       display: none;

    }
    .news__controls-icon{
        width: 10px;
        height: 10px;
    }

    .news__date{
     
        padding-top: 15px;
      
        font-size: 14px;
        line-height: 20px;

    }
    .news__subtitle{
     
       color: $black-grey;
       font-family: $font-text-regular;
       padding-bottom: 80px;
       padding-top: 10px;
    }
  
   
 
}

@media(min-width: 1280px){
    .news__title{
        padding-top: 95px;
    }
    .news__container{
        margin-top: 60px;
    }
    .news__item{
        width: 340px;
    }
    .news__controls{
        z-index: 100;
        position: relative;
        display: block;
        width: 8%;
        flex-shrink: 0;
        display: flex;
     
        flex-direction: column;
        order: 1;
        background-color: #ffffff;
        box-sizing: border-box;
       
    }
    .news__controls .swiper-button-next,.news__controls .swiper-button-prev{
        position: relative;
        top: 150px;
       
        width: 55px;
        height: 55px;
    

    }
    .news__controls .swiper-button-prev{
        top: 100px;
    }
    .news__controls-icon{
        width: 15px;
        height: 15px;
    }
    .news__date{
     
        padding-top: 20px;
      
        font-size: 18px;
        line-height: 26px;

    }
  
   
}

@media(min-width: 1680px){
    .news__title{
        padding-top: 105px;
    }
    .news__container{
        margin-top: 50px;
    }
   
    .news__item{
        width: 504px;
    }
    .news__controls{
        z-index: 100;
        position: relative;
        display: block;
        width: 9%;
        flex-shrink: 0;
        display: flex;
     
        flex-direction: column;
        order: 1;
        background-color: #ffffff;
        box-sizing: border-box;
       
    }
    .parallax__item--news{
        width: 100%;
        height: 335px;
    }
    .news__controls .swiper-button-next,.news__controls .swiper-button-prev{
        position: relative;
        top: 260px;
       
        width: 55px;
        height: 55px;
    

    }
    .news__controls .swiper-button-prev{
        top: 220px;
    }
    .news__controls-icon{
        width: 15px;
        height: 15px;
    }
    .news__subtitle{
     
        padding-bottom: 130px;
        font-size: 24px;
        line-height: 34px;     
    }
    .news__controls .swiper-button-next,.news__controls .swiper-button-prev{
      
        left: 35%;
    }

    .news__item--video .parallax__item--news::before {
      
        width: 82px;
        height: 82px;
        background-size: 82px 82px;
       
       
    }
   
}