.social__btn-list{

	@include list-destroy;
	position: absolute;
	right: 0;
	top: 65px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.social__btn-item{
	display: flex;
	align-items: center;
	background-color: #ffffff;
	
	border: 0.822852px solid #E6E6E6;
	border-bottom: 0.822852px solid #E6E6E6;

	transition: all 1s ease;
	&:hover{
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
		border-radius: 4px 0px 0px 4px;
	}
}

.social__btn{
	@include btn-destroy;
	width: 50px;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
}
.social__btn-item--share .social__btn{
	background-size: 13px 15px;
}
.social__btn-item--message .social__btn{
	background-size: 14px 11px;
}

.social__btn-item:last-child{
	border-bottom: 0.822852px solid #E6E6E6;
}
.social__dropdown{
	display: flex;
	align-items: center;

	max-width: 0;
	overflow: hidden;
	transition: all 2s ease;
}
.social__btn-item.active{
	border-bottom: 0.822852px solid #E6E6E6;
}
.social__dropdown.active{
	max-width: 100vw;
}

.social__title{
	margin: 0;
	padding: 0;
	padding-right: 10px;
	font-family: $font-text-regular;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	color: #BFC3CD;
	padding-right: 20px;
	white-space: nowrap;
}
.social__link-list{
	@include list-destroy;
	display: flex;
	padding-right: 5px;
}
.social__link{
	width: 100%;
	height: 100%;
	display: block;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;

}
.social__link-item{
	width: 30px;
	height: 30px;
	border: 1px solid #DADEE2;
	box-sizing: border-box;
	border-radius: 4px;
	margin-right: 5px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 0;
		height: 100%;
		background-color: $red-color;
		transition: all 0.5s ease;
		border-radius: 4px;
		
	}
	&:hover{
		border: 1px solid transparent;
	}
	&:hover::before{
		width: 100%;
	}
}
.social__icon{
	fill: #000000;
	width: 12px;
	height: 12px;
	// z-index: 5;
	position: relative;
	transition: all 0.5s ease;
}
.social__link-item:hover .social__icon{
	fill: #ffffff;
}
@media(min-width: 767px){
	.social__btn-list{
		right: 1%;
		top: 70px;
	}

	.social__btn-item{
	
		border: 1px solid #E6E6E6;
		border-bottom: 1px solid #E6E6E6;

	}
	.social__btn{
		width: 40px;
		height: 35px;
	}
	.social__btn-item--share .social__btn{
		background-size: 16px 18px;
	}
	.social__btn-item--message .social__btn{
		background-size: 17px 14px;
	}
	.social__btn-item:last-child{
		border-bottom: 1px solid #E6E6E6;
	}
}

@media(min-width: 1280px){
	.social__btn-list{
		right: 2%;
		top: 110px;
	}
	.social__btn{
		width: 50px;
		height: 46px;
	}
	.social__btn-item--share .social__btn{
		background-size: 20px 23px;
	}
	.social__btn-item--message .social__btn{
		background-size: 21px 16px;
	}
	
	.social__title{
		margin: 0;
		padding: 0;
		padding-right: 20px;
		font-family: $font-text-regular;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		color: #BFC3CD;
		padding-right: 30px;
		white-space: nowrap;
	}
	.social__link-list{
		@include list-destroy;
		display: flex;
		padding-right: 10px;
	}
	.social__link{
		width: 100%;
		height: 100%;
		display: block;
		display: flex;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.social__link-item{
		width: 30px;
		height: 30px;
		border: 1px solid #DADEE2;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 10px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 0;
			height: 100%;
			background-color: $red-color;
			transition: all 0.5s ease;
			border-radius: 4px;
			
		}
		&:hover{
			border: 1px solid transparent;
		}
		&:hover::before{
			width: 100%;
		}
	}
	.social__icon{
		fill: #000000;
		width: 16px;
		height: 16px;
		// z-index: 5;
		position: relative;
		transition: all 0.5s ease;
	}
	.social__link-item:hover .social__icon{
		fill: #ffffff;
	}
}

@media(min-width: 1680px){
	.social__btn-list{
		right: 3.5%;
		top: 180px;
	}
	.social__btn-item--share .social__btn{
		background-size: 20px 23px;
	}
	.social__btn-item--message .social__btn{
		background-size: 21px 17px;
	}
}