.kirovets_advant{
	min-height: 640px;
	background-color: #18213D;
	// background-image: url(../img/bg-adv.jpg);
	// background-image: url(../img/bg-adv.jpg);


}
.parallax__img--kirovets_advant{
	background-size: cover;
	background-position: center right;
	background-image: url(../img/bg-adv.jpg);
}
.kirovets_advant__title{
	@extend %block-title-light;
	padding-top: 40px;
	width: 90%;
	position: relative;
}
.kirovets_advant__list{
	@include list-destroy;
	@extend %block-list-light;
	padding-top: 30px;
	width: 90%;
}
.kirovets_advant__item{
	margin-bottom: 30px;
	padding-left: 40px;
	position: relative;
}
.kirovets_advant__item::before{
	content: '';
	position: absolute;
	left: 0;
	top:25%;
	// transform: translateY(-50%);

	width: 20px;
	height: 1px;
	background-color: $light-grey-color;
}
@media(min-width: 767px){
	.kirovets_advant{
		min-height: 510px;
	}
	.kirovets_advant__title{

		padding-top: 75px;
		width: 100%;

	}
	.kirovets_advant__list{
		padding-top: 35px;
		width: 90%;
	}
	.kirovets_advant__item{
		margin-bottom: 30px;
		padding-left: 60px;
	}
	.kirovets_advant__item::before{

		top:35%;
		width: 20px;
		height: 1px;

	}
}

@media(min-width: 1280px){
	.kirovets_advant{
		min-height: 640px;
		background-position: center center;
	}
	.parallax__img--kirovets_advant{
		background-size: cover;
		background-position: center center;
	}
	.kirovets_advant__title{
		padding-top: 125px;
		width: 60%;
	
	}
	.kirovets_advant__list{
		padding-top: 65px;
		width: 55%;
	
	}
	.kirovets_advant__item::before{

		top:40%;
	}
	
	
}

@media(min-width: 1919px){
	.kirovets_advant{
		min-height: 915px;
	}
	.kirovets_advant__title{
		padding-top: 185px;
		width: 60%;
	}
	.kirovets_advant__list{
		padding-top: 125px;
		width: 42%;
	}
	.kirovets_advant__item{
		margin-bottom: 60px;
		padding-left: 60px;
	}
	.kirovets_advant__item::before{
		width: 30px;
		height: 1px;
	}
}
