.kirovets_main{
	background-color: #18213D;
	background-image: url(../img/bg-main-mobile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	height: 435px;

	position: relative;
}
.kirovets_main .container{
	height: 100%;
}
.kirovets_main__wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.kirovets_main__title{
	@extend %title-main-screen;
}

.kirovets_button__video-controls{
	@include btn-destroy;

	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(../img/btn-pause.svg);
	background-size: 30px 30px;
	right: 4%;
	bottom: 25px;


}



@media(min-width: 767px){
	.kirovets_main{
		background-image: url(../img/bg-main-tablet.jpg);
		min-height: 520px;
	}

	.kirovets_main__wrapper{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.kirovets_button__video-controls{
		
		right: 5%;
		bottom: 25px;


	}
	
}

@media(min-width: 1280px){
	.kirovets_main{
		background-image: url(../img/bg-main-laptop.jpg);
		min-height: 720px;
	}
	.kirovets_button__video-controls{
	
		right: 4%;
		bottom: 25px;
		width: 35px;
		height: 35px;
		background-size: 35px 35px;
	
	}
	
}
@media(min-width: 1919px){
	
	.kirovets_main{
		background-image: url(../img/bg-main-desktop.jpg);
		min-height: 900px;

	
	}
	.kirovets_button__video-controls{
		right: 5%;
		bottom: 45px;
		width: 65px;
		height: 65px;
		background-size: 65px 65px;
	}
	.kirovets_main__title{
		padding-left: 60px;
	}
}
