.kirovets_statistics{
	padding-top: 45px;
	padding-bottom: 30px;


}
.kirovets_statistics__title{
	@extend %block-title;
	perspective: 600px;
}
.kirovets_statistics__list{
	@include list-destroy;
}
.kirovets_statistics__item{
	width: 100%;
	padding-bottom: 80px;
}
.kirovets_statistics__number{
	@extend %red-number;
	display: inline-block;
}
.kirovets_statistics__subtitle{
	@extend %small-subtitle;
	// margin-top: 15px;
}

.kirovets_statistics__desc{
	@extend %block-text-smallest;
	margin-top: 10px;
}

.swiper-container-horizontal>.kirovets_swiper-scrollbar.swiper-scrollbar {
	@extend %scroll-line;
}

.kirovets_swiper-scrollbar .swiper-scrollbar-drag{
	@extend %scroll-drag;
}

.kirovets_statistics__number-wrap{
	overflow: hidden;
	margin-bottom: 15px;
}
@media(min-width: 767px){
	.kirovets_statistics{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.kirovets_statistics__title{
		width: 70%;
	}
	.kirovets_statistics__list{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.kirovets_statistics__item{
		width:47%;
		padding-bottom: 10px;
	}
	.kirovets_statistics__number-wrap{
		overflow: hidden;
		margin-bottom: 15px;
	}
}

@media(min-width: 1280px){
	.kirovets_statistics__list{
	
		justify-content: flex-start;

	}
	.kirovets_statistics{
		padding-top: 75px;
		padding-bottom: 45px;
	}
	.kirovets_statistics__item{
		width:50%;
		padding-bottom: 65px;
		padding-right: 10%;
		box-sizing: border-box;
	}


}

@media(min-width: 1919px){
	.kirovets_statistics__title{
		width: 60%;
	}
	.kirovets_statistics{
		padding-top: 90px;
		padding-bottom: 60px;
		padding-left: 70px;
	}

	.kirovets_statistics__item{
		width:50%;
		padding-bottom: 90px;
		padding-right: 20%;
		box-sizing: border-box;
	}
}