.statistics{
	padding-top: 45px;
	padding-bottom: 30px;


}
.statistics__title{
	@extend %block-title;
	perspective: 600px;
	margin-bottom: 10px;
}
.statistics__list{
	@include list-destroy;
}
.statistics__item{
	width: 100%;
	padding-bottom: 80px;
}
.statistics__number{
	@extend %red-number;
	display: inline-block;
}
.statistics__subtitle{
	@extend %small-subtitle;
	// margin-top: 15px;
}

.statistics__desc{
	@extend %block-text-smallest;
	margin-top: 10px;
}

.swiper-container-horizontal>.swiper-scrollbar.swiper-scrollbar--statictics {
	@extend %scroll-line;
}

.swiper-scrollbar--statictics .swiper-scrollbar-drag{
	@extend %scroll-drag;
}

.statistics__number-wrap{
	overflow: hidden;
	padding-bottom: 15px;
}
@media(min-width: 767px){
	.statistics{
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.statistics__title{
		width: 70%;
	}
	.statistics__list{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.statistics__item{
		width:47%;
		padding-bottom: 30px;
	}
	.statistics__number-wrap{
		// overflow: hidden;
		padding-bottom: 0px;
	}
}

@media(min-width: 1280px){
	.statistics__list{
	
		justify-content: flex-start;

	}
	.statistics{
		padding-top: 75px;
		padding-bottom: 20px;
	}
	.statistics__item{
		width:50%;
		padding-bottom: 100px;
		padding-right: 10%;
		box-sizing: border-box;
	}


}

@media(min-width: 1680px){
	.statistics__title{
		width: 60%;
	}
	.statistics{
		padding-top: 90px;
		padding-bottom: 60px;
		// padding-left: 70px;
	}
	.statistics__subtitle{
		margin-top: 20px;
	}

	.statistics__item{
		width:50%;
		padding-bottom: 100px;
		padding-right: 20%;
		box-sizing: border-box;
	}
	.statistics__desc{
		margin-top: 5px;
	}
}