.kirovets_tabs{
	background:#18213D linear-gradient(275.65deg, rgba(24, 33, 61, 0.7) 31.58%, rgba(24, 33, 61, 0.25028) 69.08%, rgba(24, 33, 61, 0.5) 88.25%);
	background-blend-mode: multiply;
	padding-top: 40px;
	padding-bottom: 60px;
}

.kirovets_tabs__title{
	@extend %block-title;
	color: #ffffff;
	width: 90%;
}

.kirovets_tabs__nav{
	border-bottom: 1px solid #535765;
	margin-top: 25px;
}

.kirovets_tabs__list{
	display: flex;
	justify-content: space-between !important;
	@include list-destroy;
}
.kirovets_tabs__nav-btn{
	@include btn-destroy;
	font-family: $font-bold-title;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 17px;
	text-transform: uppercase;

	color: #FFFFFF;

	opacity: 0.29;

	// margin-right: 20px;
	padding-bottom: 10px;
	position: relative;
	transition: all 0.5s ease;
	&:hover{
		opacity: 0.5;
	}

	&::before{
		content: "";
		position: absolute;
		width: 0%;
		height: 2px;
		background-color: #C26063;
		bottom: 0px;
		left:0;
		transition: all 0.5s ease;
	}
}

.swiper-slide-thumb-active .kirovets_tabs__nav-btn{
	color: #C26063;
	opacity: 1;
}


.swiper-slide-thumb-active .kirovets_tabs__nav-btn::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #C26063;
	bottom: 0px;
	left:0;
}

.kirovets_tabs__nav-item.swiper-slide{
	width: auto !important;
	flex-shrink: 1 !important;
	cursor: pointer;
}
.kirovets_tabs__slider{
	@include list-destroy;
	width: 100%;
}
.kirovets_tabs__slide{
	width: 100%;
}


.kirovets_tabs__slide{
	padding-top: 320px;
	background-image: url(../img/model-k7m.png);
	background-position: center 30px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.kirovets_tabs__features-list{
	@include list-destroy;
	padding-bottom: 20px;
}
.kirovets_tabs__features-subtitle{
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-family: $font-regular;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.69);
}

.kirovets_tabs__features-desc{
	@extend %block-text;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 10px;
	width: 90%;
}
.kirovets_tabs__features-item{
	padding-bottom: 5px;
}

.swiper-container-horizontal > .kirovets_swiper-scrollbar--tabs.swiper-scrollbar {
	background-color: rgba(255, 255, 255, 0.25);
}
.kirovets_swiper-scrollbar--tabs .swiper-scrollbar-drag{
	height: 6px;


}
@media(min-width: 600px){
	.kirovets_tabs__slide{
		padding-top: 440px;
	}
}
@media(min-width: 767px){
	.kirovets_tabs{
		padding-top: 45px;
		padding-bottom: 25px;
	}
	

	.kirovets_tabs__nav{
		border-bottom: 1px solid #535765;
		margin-top: 35px;
	}

	.kirovets_tabs__list{
		display: flex;
		justify-content: flex-start !important;

	}

	.kirovets_tabs__nav-btn{

		font-size: 18px;
		line-height: 21px;
	
		padding-bottom: 15px;
		position: relative;

		margin-right: 50px;
	}

	.kirovets_tabs__slider{
	
		width: 100%;
	}
	.kirovets_tabs__slide{
		width: 100%;
	}


	.kirovets_tabs__slide{
		padding-top: 505px;
		background-size: 90%;

	}
	.kirovets_tabs__features-list{
		display: flex;
		flex-wrap: wrap;
	}
	.kirovets_tabs__features-item{
		width: 50%;
		
		
	}

	.kirovets_tabs__features-subtitle{

		font-size: 18px;
		line-height: 22px;
		width: 90%;
	}

	.kirovets_tabs__features-desc{

		line-height: 18px;
		margin-top: 5px;
		width: 90%;
	}
	.kirovets_tabs__features-item{
		padding-bottom: 20px;
	}

}

@media(min-width: 1280px){
	.kirovets_tabs{
		padding-top: 50px;
		padding-bottom: 0px;
	}

	
	.kirovets_tabs__nav{
	
		margin-top: 30px;
	}

	.kirovets_tabs__list{
		display: flex;
		justify-content: flex-start !important;

	}

	.kirovets_tabs__nav-btn{

		font-size: 24px;
		line-height: 29px;
	
		padding-bottom: 12px;
		position: relative;

		margin-right: 120px;
	}



	.kirovets_tabs__slide{
		padding-top: 0px;
		background-size: 60%;
		background-position: 40%;
		padding-bottom: 65px;

	}
	.kirovets_tabs__features-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 60px;
	}
	.kirovets_tabs__features-item{
		width: 50%;
		
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.kirovets_tabs__features-item:nth-child(even){
		align-items: flex-end;
	}
	.kirovets_tabs__features-wrap{
		width: 45%;
	}
	.kirovets_tabs__features-subtitle{

		font-size: 20px;
		line-height: 24px;
		width: 80%;
	}

	.kirovets_tabs__features-desc{

		line-height: 20px;
		margin-top: 10px;
		width: 100%;
	}
	.kirovets_tabs__features-item{
		padding-bottom: 25px;
	}
}

@media(min-width: 1680px){
	.kirovets_tabs{
		padding-top: 55px;
		padding-bottom: 0;
	
	}


	
	.kirovets_tabs__nav{
	
		margin-top: 45px;
	}



	.kirovets_tabs__nav-btn{

		font-size: 30px;
		line-height: 36px;
	
		padding-bottom: 22px;
		position: relative;

		margin-right: 160px;
	}



	.kirovets_tabs__slide{
		padding-top: 0px;
		background-size: 55%;
		background-position:  40% 5px;
		padding-bottom: 105px;

	}
	.kirovets_tabs__features-list{

		padding-top: 80px;
	}
	.kirovets_tabs__features-item{
		width: 50%;
		
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.kirovets_tabs__features-item:nth-child(even){
		align-items: flex-end;
	}
	.kirovets_tabs__features-wrap{
		width: 50%;
	}
	.kirovets_tabs__features-subtitle{

		font-size: 22px;
		line-height: 26px;
		width: 80%;
	}

	.kirovets_tabs__features-desc{

		line-height: 22px;
		margin-top: 10px;
		width: 80%;
	}
	.kirovets_tabs__features-item{
		padding-bottom: 55px;
	}
}