@import 'utils/font';
@import 'utils/_variables';
@import 'utils/_extend';
@import 'utils/_mixin';


@import 'libs/swiperbundle';
// @import 'header';

@import 'pages/kirovets/main';
@import 'pages/kirovets/about';
@import 'pages/kirovets/advant';
@import 'pages/kirovets/zavod';

@import 'pages/kirovets/statistics';

@import 'pages/kirovets/tabs';

body{
	margin: 0;
	padding: 0;
	min-width: 320px;
	background-color: #ffffff;
}


// Контейтер

.container{

	padding-left: 4%;
	padding-right: 4%;
	box-sizing: border-box;
	// box-sizing: border-box;
}


@media(min-width: 767px){
	.container{
		
		padding-left: 8%;
		padding-right: 8%;
		max-width: 1280px;
		margin: 0 auto;
	}
	
}
@media(min-width: 1280px){
	.container{
		
		padding-left: 8%;
		padding-right: 8%;
		max-width: 1920px;
		margin: 0 auto;
	}
	
}

@media(min-width: 1919px){
	.container{
		
		padding-left: 6%;
		padding-right: 6%;
		max-width: 1920px;
		margin: 0 auto;
	}
	
}

.red-accent{
	color: $red-color;
}