.rent__card {
  @media (min-width: 768px) { // sm, md, lg 
    display: flex;
    margin-bottom: 50px;
  }
}

.rent__card-info {
  @media (max-width: 1280px) {
    flex-basis: 58%;
  }

  @media (max-width: 768px) {
    flex-basis: 43%;
  }
}

.rent__image-wrapper {
  margin-bottom: 15px;

  @media (max-width: 1280px) {
    margin-right: 20px;
    flex-basis: 42%;
  }

  @media (max-width: 768px) {
    margin-right: 20px;
    flex-basis: 57%;
  }
}

.rent__image--blur {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.rent__heading {
  font-family: $font-regular;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;

  @media (max-width: 1280px) {
    font-size: 26px;
    letter-spacing: 2px;
  }
}

.rent__heading--small {
  font-family: $font-regular;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;

  @media (max-width: 1280px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.rent__paragraph {
  font-family: $font-text-regular;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 15px;

  @media (max-width: 1280px) {
    font-size: 16px;
  }
}

.rent__table {
  border-collapse: collapse;
  font-family: $font-text-regular;
  font-size: 13px;
  td {
    padding: 0 0 6px 0;
    white-space: nowrap;
  }
  .rent__table-td1 {
    color: $grey-text-table;
  }  
  .rent__table-td2 {
    padding: 0 0 6px 25px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;

    .rent__table-td2 {
      padding: 0 0 2px 50px;
    }
  }
}

@media (min-width: 1280px) { // sm, md, lg 
  .rent__table {
    font-size: 16px;
    tbody {
      tr {
        &:nth-child(odd) {
          // background-color: hsl(0, 0%, 94%);
        }
        &:nth-child(even) {
          // background-color: hsl(0, 0%, 88%);
        }
      }
    }
    td, th {
      padding: .25em .5em;
      &:nth-child(2) {
        border-left: 3px solid #fff;
      }
    }
  }
}

.rent__link {
  display: flex;
  align-items: center;


  &>a {
    font-family: $font-regular;
    font-size: 18px;
    color:$black-grey;
    width: 100%;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 18px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 520px) {
      font-size: 12px;
    }

    &:before {
      background-color: #000;
      content: "";
      display: inline-block;
      height: 1.5px;
      position: relative;
      vertical-align: middle;
      width: 5%;
      margin-right: 20px;

      @media screen and (max-width: 520px) {
        margin-right: 13px;
        width: 10%;
      }
    }
  }
}
