


/*3 макет от 1024 до 1599*/
@media (max-width: 1599px) {
  /*.section-geography__title {
    font-size: 40px;
    line-height: 47px;
  }
  */
  .section-geography__body {
   
    margin-top: 90px;
  }
  .section-geography__footer .section-geography__desc {
    display: none;
  }
  .section-geography__wrapper .section-geography__desc {
    display: flex;
    align-items: center;
  }
  .section-geography__body {
    height: 65%;
  }
  .section-geography__footer {
    height: 30%;
  }
  .section-geography__title {
    font-size: 40px;
    line-height: 47px;
    /*padding: 0 50px;*/
  }
  // .section-geography__wrapper .section-geography__desc p {
  //   width: 68%;
  // }
  // .section-geography__footer .section-geography__desc p {
  //   width: 66%;
  // }
  .section-geography__desc p {
    font-size: 25px;
    line-height: 36px;
  }
  .section-geography__desc span{
    font-size: 24px;
    line-height: 36px;
  
  }
  .section-geography__desc span > span {
    font-size: 77px;
    line-height: 95px;
  }
   .section-geography__map-planet {
    width: 640px;
    height: 100%;
    /*max-width: 100%;
    object-fit: contain;*/
   }
  
}
@media(max-width: 1440px){
  .section-geography__map-planet {
    width: 500px;
    height: 500px;
  }
  .geography::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
   
    height: 55px;
    background: #1D1E25;
  }
}
@media (max-width: 1279px) {
  .section-geography__title-wrapper{
    display: block;
  }
  .section-geography__map-planet {
    width: 500px;
    height: 500px;
  }
    .section-geography__map {
    width: 500px;
    height: 500px;
    padding: 0;
  
  }
  .section-geography__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section-geography__footer .section-geography__desc {
    display: block;
  }
  .section-geography__wrapper .section-geography__desc {
    display: none;
  }

  .section-geography__title {
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    font-weight: bold;
    font-family: $font-bold-title;
    text-align: center;
    padding-top: 105px;
  
  }
  .section-geography__footer .section-geography__desc {
    width: 100%;
  }
  .section-geography__desc p {
    font-size: 22px;
    line-height: 32px;
    padding-top: 35px;
    margin-top: 45px;
    font-weight: bold;


  }
  .section-geography__desc p:before{
    width: 120px;
    left: calc(50% - 60px);
    font-weight: bold;
  }
  .section-geography__desc span > span {
    font-size: 68px;
    line-height: 85px;
  }
  .section-geography__desc span{
    font-size: 21px;
  }
  .section-geography__body {
    height: 70%;
    margin-top: 40px;
  }
  .section-geography{
    display: flex;
    flex-direction: column;
  }
  .section-geography__body{
    order: 2;
  }
  .section-geography__footer{
    order: 1;
  }
  .section-geography__map{
    margin: 0 auto;
  }
}
@media (max-width: 1159px) {
  .section-geography__wrapper .section-geography__desc p {
    width: 100%;
  }
}
@media (max-width : 1024px) and (orientation : portrait) {
  .section-geography__title {
    text-align: center;
  }
  .section-geography__title:before {
    left: 38px;
  }
  .map-item__india {
    top: 38%;
    left: 72%;
  }
  .map-item__usa {
    top: 26%;
    left: 6%;
  }
  .map-item__canada {
    top: 18%;
    left: 11%;
  }
  .map-item__mongolia {
    top: 19%;
    left: 72%;
  }
  .map-item__kazakhstan {
    top: 21%;
    left: 64%;
  }
  .map-item__uzbekistan {
    top: 25%;
    left: 61%;
  }
}
/*2 макет от 768 до 1023*/

@media (max-width: 960px) {
  .section-geography__map-planet {
    width: 640px;
    height: 640px;
    margin: 0 auto;
 }
  .section-geography__map {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .section-geography__wrapper {
    display: block;
    max-width: 680px;
    margin: 0 auto;
  }
}


/*1 макет от 375 до 767*/
@media (max-width: 767px) {
  /*Убираем маркеры на маленьких экранах,  показываем маркеры только активных городов*/
  .section-geography__map-item .map-marker-icon {
    display: none;
  }
  .section-geography__map-item.active .map-marker-icon {
    display: block;
  }
  .section-geography__title:before {
    display: none;
  }
  /*.section-geography__map,*/
  .section-geography__wrapper .section-geography__desc {
    padding: 0;
  }
  .section-geography__body {
    height: 60%;
    margin-top: 0;
  }
  .section-geography__footer {
    height: 40%;
  }
  .section-geography__title {
    font-size: 18px;
    line-height: 21px; 
    text-align: center;
    margin: 0;
    padding-top: 40px;
   /* padding: 0 50px;*/
  }
  .section-geography__wrapper .section-geography__desc {
    display: none;
  }
  .section-geography__desc p{
    margin-top: 0;
  }
 /* .section-geography__map {
    width: 100%;
  }*/
  // .section-geography__map-planet {
    /*width: 320px;
    height: 320px;*/
    /*width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;*/
  // }
  .section-geography__desc/*,
  .section-geography__map*/ {
    padding-top: 22px;
  }
  .section-geography__desc p {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    font-family: $font-bold-2-title;
    font-size: 18px;
    width: 100%;
    padding-top: 15px;
  }
  .section-geography__desc span > span {
    font-size: 42px;
    line-height: 52px;
  }
  .section-geography__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .map-marker-icon {
    width: 10px;
    height: 10px;
  }
}




@media (max-width: 850px) and (orientation: landscape) {
  .section-geography__body,
  .section-geography__footer {
    height: 100%;
  }
  /*.section-geography__map-planet {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    display: block;
  }*/
}
@media (max-width: 1599px) and (orientation: portrait) {
  /*.section-geography__map {
    width: 100%;
  }
*/  .section-geography__wrapper .section-geography__desc {
    display: none;
  }
  .section-geography__footer .section-geography__desc {
    display: block;
  }
  /*.section-geography__map-planet {
    margin: 0 auto;
    display: block;
  }*/
  .section-geography__footer  .section-geography__desc p {
    
    width: 100%;
  }
  /*.section-geography__title {
    text-align: center;
    justify-content: center;
  }*/
  .section-geography__body {
    height: 65%;
  }
  .section-geography__footer {
    height: 35%;
  }
  .section-geography__map {
    margin: 0 auto;
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .section-geography__body {
    height: 100%;
  }
  .section-geography__footer {
    height: 100%;
  }
  .section-geography__map,
  .section-geography__map-planet {
    width: 380px;
    height: 380px;
  }
  .section-geography__title {
    text-align: center;
  }
  .section-geography__title:before {
    display: none;
  }
}
@media (max-width: 820px) and (orientation: landscape) {
  .section-geography__map,
  .section-geography__map-planet {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 750px) and (orientation: landscape) {
  .section-geography__map,
  .section-geography__map-planet {
    width: 400px;
    height: 400px;

  }
}
@media (max-width: 640px) and (orientation: landscape) {
  .section-geography__map,
  .section-geography__map-planet {
    width: 380px;
    height: 380px;

  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .section-geography__map, 
  .section-geography__map-planet {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .geography{
    position: relative;
    width: 100%;
  }
  .geography::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
   
    height: 70px;
    background: #1D1E25;
  }
  .section-geography{
    display: flex;
    flex-direction: column;
  }
  .section-geography__body{
    order: 2;
  }
  .section-geography__footer{
    order: 1;
  }
  .section-geography__map, 
  .section-geography__map-planet {
    width: 350px;
    height: 350px;
  }
  .section-geography__title-wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 375px) and (orientation: portrait) {
  .section-geography__map, 
  .section-geography__map-planet {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 320px) and (orientation: portrait) {
  .section-geography__map, 
  .section-geography__map-planet {
    width: 260px;
    height: 260px;
  }
}
@media (max-height: 850px) and (orientation: portrait) {
  .section-geography__body {
    height: 45%;
  }
  .section-geography__footer {
    height: 55%;
  }
}
@media (max-height: 650px) and (orientation: portrait) {
  .section-geography__body {
    height: 55%;
  }
  .section-geography__footer {
    height: 45%;
  }
}
/*iPad Pro 12.9" */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/ 
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .section-geography__map, 
  .section-geography__map-planet {
    width: 600px;
    height: 600px;
  }
  .section-geography__body,
  .section-geography__footer {
    height: 50%;
  }
  .section-geography__wrapper {
    padding-top: 70px;
  }
  .section-geography__title:before {
    left: 148px;
  }
}
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-geography__wrapper {
    padding-top: 70px;
  }
}